<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Sentiment Analysis System{% endblock %}</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .background {
            background-color: #f8f9fa; /* 浅灰色背景 */
        }

        .navbar-custom {
            background-color: #343a40; /* 暗灰色背景 */
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,
        .navbar-custom .nav-link {
            color: #ffffff; /* 白色文本 */
        }
    </style>
</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand"
           href="{{ url_for('teacher_home') if session.get('role') == 'teacher' else url_for('student_home') }}">
            Sentiment Analysis System for Student Text Comments
        </a>

        <div class="ms-auto">
                <span class="navbar-text">
                    Hello, {{ session.user_name }}!
                </span>
            <a href="/logout" class="btn btn-outline-light ms-3">Logout</a>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<!-- 引入 Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
